<section class="Populares-landingPage" id="Populares-landingPage">
    <h1 class="Populares-landingPage__titulo">Populares</h1>
    <div class="Populares-landingPage__ContainerPratos">
        <div class="Populares-landingPage__ContainerPratos__Div">
            <img src="/Img-PratoPopular-Frango.png" alt="Imagem Ilustrativa de prato descrito">
            <h1>Ramen de frango</h1>
            <p class="Populares-landingPage__ContainerPratos__Div__Texto">Delicioso ramen com peito de frango grelhado, legumes frescos e um caldo rico em sabor. Perfeito para quem busca uma refeição leve e nutritiva.</p>
            <p class="Populares-landingPage__ContainerPratos__Div__Valor">R$ 32</p>
        </div>
        <div class="Populares-landingPage__ContainerPratos__Div">
            <img src="/Img-PratoPopular-Apimentado.png" alt="Imagem Ilustrativa de prato descrito">
            <h1>Ramen apimentado</h1>
            <p class="Populares-landingPage__ContainerPratos__Div__Texto">Uma explosão de sabores com o ramen apimentado. Com ingredientes frescos, ovo cozido e pimenta que dão o toque ideal para os amantes de comida picante.</p>
            <p class="Populares-landingPage__ContainerPratos__Div__Valor">R$ 35</p>
        </div>
        <div class="Populares-landingPage__ContainerPratos__Div">
            <img src="/Img-PratoPopular-Tradicional.png" alt="Imagem Ilustrativa de prato descrito">
            <h1>Ramen tradicional</h1>
            <p class="Populares-landingPage__ContainerPratos__Div__Texto">O clássico ramen japonês, com caldo saboroso, noodles perfeitos, ovo e legumes frescos, ideal para quem procura uma experiência autêntica.</p>
            <p class="Populares-landingPage__ContainerPratos__Div__Valor">R$ 30</p>
        </div>
    </div>
</section>