header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.header_titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.header_titulo h1{
    color: rgb(220, 1, 1);
    font-family: "Fondamento", cursive;
}

.header_titulo p{
    font-size: 30px;
}

.header_links{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header_links a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header_links a:hover{
    color:rgb(122, 0, 0);
}

.active-link {
    border-bottom: 2px solid rgb(220, 1, 1);
}

.header_btn{
    background-color: rgb(220, 1, 1);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.348);
}

.header_btn:hover{
    background-color: rgb(193, 0, 0);
}

@media (max-width: 768px){
    header{
        flex-direction: column;
    }

    .header_titulo{
        margin-bottom: 20px;
    }

    .header_links{
        justify-content: space-around;
        width: 80%;
    }
    
    .header_btn{
        margin-top: 20px;
    }
}
