/* You can add global styles to this file, and also import other style files */

/* font-family: "Koh Santepheap", serif; */
/* font-family: "Poppins", sans-serif; */
/* font-family: "Fondamento", cursive; */

/*Tamnho de telas @media (max-width: 768px){}*/

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Poppins", sans-serif;
}