<footer>
    <div class="Footer_Links">
        <div class="Footer_Links_Div">
            <h1>Produtos</h1>
            <ul>
                <li>Todos</li>
                <li>Sushi</li>
                <li>Premium</li>
            </ul>
        </div>
        <div class="Footer_Links_Div">
            <h1>Informações</h1>
            <ul>
                <li>FAQ</li>
                <li>Blog</li>
                <li>Suporte</li>
            </ul>
        </div>
        <div class="Footer_Links_Div">
            <h1>Empresa</h1>
            <ul>
                <li>Sobre nós</li>
                <li>Local</li>
                <li>Contato</li>
            </ul>
        </div>
        <div class="Footer_Links_Div">
            <h1>Social</h1>
            <ul>
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Twitter</li>
            </ul>
        </div>
    </div>
    <div class="Footer_Icons">
        <div class="Footer_Icons_Titulo">
            <p>鮨</p>
            <h1>Sakura Bite</h1>
        </div>
        <div class="Footer_Icons_RedesSociais">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </div>
</footer>