<div class="bg-comentarios">
    <section class="Comentarios-landingPage">
        <h1 class="Comentarios-landingPage__titulo">Comentários</h1>
        <div class="Comentarios-landingPage__Container">
            <div class="Comentarios-landingPage__Container__Div"> 
                <img src="/Img-Comentarios-Mulher.png" alt="Img de mulher">
                <h1>Daniele Almeida</h1>
                <p>Ótimo serviço! Encantada com a qualidade dos pratos.</p>
                <div class="Comentarios-landingPage__Container__Div__Estrelas"><p>&#9733;</p><p>&#9733;</p><p>&#9733;</p><p>&#9733;</p><p>&#9733;</p></div>
            </div>
            <div class="Comentarios-landingPage__Container__Div">
                <img src="/Img-Comentarios-Homem.png" alt="Img de homem">
                <h1>Ricardo França</h1>
                <p>Não é apenas a comida excelente, o serviço torna a experiência especial.</p>
                <div class="Comentarios-landingPage__Container__Div__Estrelas"><p>&#9733;</p><p>&#9733;</p><p>&#9733;</p><p>&#9733;</p><p>&#9733;</p></div>
            </div>
        </div>
    </section>
</div>
