<section class="SobreNos-LandingPage" id="SobreNos-LandingPage">
    <img class="SobreNos-LandingPage__Img" src="/Img-LandingPage-SobreNos.png" alt="Imagem Ilustrativa de uma pessoa segurando um preto">
    <div class="SobreNos-LandingPage__Texto">
        <p class="SobreNos-LandingPage__Texto__SobreNos">Sobre nós</p>
        <h1>Feita de forma tradicional</h1>
        <p class="SobreNos-LandingPage__Texto__Subtitulo">Cada prato "feita de forma tradicional" é uma ode à excelência. Desde o meticuloso corte do sashimi até a preparação delicada do sushi, cada etapa é uma reverência à herança culinária do Japão.</p>
    </div>
</section>
